@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  /* min-height: 35rem; */
  /* background-color: red; */
  padding-bottom: 2rem;
}

.navbar {
  width: 90vw;
  position: fixed;
  top: 2rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.25rem;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.navbar > .logo {
  align-items: center;
}


.navbar > ul {
  margin-right: 6rem;
}

.navbar > ul > li {
  font-family: Montserrat;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0.8rem;
}
.navbar > ul > li > a {
  color: #000;
  font-family: Montserrat;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
}

.navbar .active::after {
  content: "";
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #cc3c39;
  /* background-color: red; */
  position: absolute;
}

.showcase {
  padding-top: 12rem;
  position: relative;
}

.showcase .showcaseImg {
  width: 100%;
  max-width: 100%;
  /* background-size: contain; */
  position: absolute;
  top: 0;
  z-index: -999;
}


.showcase p {
  color: #f8f7f7;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.cta {
  padding-top: 7rem;
  justify-content: center;
  gap: 6rem;
}

.next {
  padding-top: 3rem;
  opacity: 0;
  animation: infinte 1s infinite 0s;
}

@keyframes infinte {
  from {
    transform: translateY(-0.1rem);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.logos {
  padding-top: 3rem;
  overflow: hidden;
  white-space: nowrap;
}

.logos-slide {
  display: inline-block;
  gap: 2rem;
  animation: slide-infinite 10s infinite linear;
}

@keyframes slide-infinite {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos-slide img {
  margin: 0 20px;
}
.logos:hover .logos-slide {
  animation-play-state: paused;
}

.wrapper h1 {
  z-index: -1000;
  position: relative;
}

.wrapper h1:after {
  content: "";
  width: 100%;
  height: 4vh;
  bottom: -130%;
  left: 0;
  background-color: #f5f4f4;
  /* background-color: red; */
  position: absolute;
}

.about {
  padding: 10.5rem 0;
}
.char {
  text-align: center;
  font-family: Mutant Academy BB;
  font-size: 5rem;
  font-style: normal;
  font-weight: 100;
  line-height: 0.2;
  color: #f8f7f7; /* Set the text color */
  text-shadow: -2px -2px 0 #cc3c39, /* Top left */ 2px -2px 0 #cc3c39,
    /* Top right */ -2px 2px 0 #cc3c39, /* Bottom left */ 2px 2px 0 #cc3c39; /* Bottom right */
  opacity: 0.2;
}
@media (min-width: 1024px) {
  .overlay {
    color: #ff0500;
    font-family: Mutant Academy BB;
    font-size: 21.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4rem;
    position: absolute;
    opacity: 0.1;
    line-height: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .event-section h2 {
    width: 100%;
    font-family: Mutant Academy BB;
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 153.9%; /* 9.61875rem */
    letter-spacing: 3.125rem;
    white-space: nowrap;
    display: grid;
    /* align-items: center; */
    place-items: center;
    /* opacity: 0.5; */
    color: #f8f7f7; /* Set the text color */
    text-shadow: -1px -1px 0 #cc3c39, /* Top left */ 1px -1px 0 #cc3c39,
      /* Top right */ -1px 1px 0 #cc3c39, /* Bottom left */ 1px 1px 0 #cc3c39; /* Bottom right */
  }
.char {
  text-align: center;
  font-family: Mutant Academy BB;
  font-size: 9.16669rem;
  font-style: normal;
  font-weight: 100;
  line-height: 0.2;
  color: #f8f7f7; /* Set the text color */
  text-shadow: -2px -2px 0 #cc3c39, /* Top left */ 2px -2px 0 #cc3c39,
    /* Top right */ -2px 2px 0 #cc3c39, /* Bottom left */ 2px 2px 0 #cc3c39; /* Bottom right */
  opacity: 0.2;
}
.wrapper h1:after {
  content: "";
  width: 100%;
  height: 7.9vh;
  bottom: -130%;
  left: 0;
  background-color: #f5f4f4;
  /* background-color: red; */
  position: absolute;
}
.active h1:after {
  width: 120%;
  height: 20vh;
  bottom: -150%;
  left: -10%;
  /* opacity: 0.5; */
  position: absolute;
  opacity: 0;
  animation: appear 0.2s forwards;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1)
  );
}
.reveal-text {
  color: #cecbcb;
  font-family: Montserrat;
  font-size: 3.3rem !important;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  filter: drop-shadow(0, 0, 0.66rem rgba(0, 0, 0, 0.1));
}
}
.tag {
  text-align: center;
  border: 1px solid black;
  font-size: 0.7rem;
  padding: 0.4rem 0.5rem;
  border-radius: 20px;
}

.active h1 {
  color: white;
  opacity: 1;
}

.active h1:after {
  width: 110%;
  height: 4.5vh;
  bottom: -150%;
  left: -10%;
  /* opacity: 0.5; */
  position: absolute;
  opacity: 0;
  animation: appear 0.2s forwards;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1)
  );
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.active h4 {
  opacity: 0;
}

.first {
  background-color: #f5f4f4;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  height: 90vh;
}

.second {
  border-radius: 3.125rem;
  background: #fff;
  height: calc(100vh - 12rem);
  margin: 0rem 3rem;
  padding: 5rem 4rem 0rem 4rem;
}

.second h2 {
  color: #353535;
  text-align: justify;
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 1.5rem;
}

.second p {
  color: #353535;
  font-family: Montserrat;
  height: 5rem;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  /* padding: 1.5rem 0; */
  /* text-align: justify; */
  width: 85%;
  line-height: 150%; /* 1.40625rem */
}
.second button {
  margin-top: 1.5rem;
}

.img-container {
  justify-self: end;
  transform: translateY(-2rem);
  position: relative;
}
.img-container::before {
  content: "";
  width: 100%;
  height: 90%;
  top: 8%;
  left: -5%;
  z-index: -1;
  border-radius: 3.125rem;
  outline: 2px solid #cc3c39;
  position: absolute;
}
.img-container::after {
  content: "";
  width: 100%;
  height: 90%;
  top: -5%;
  right: -5%;
  z-index: -1;
  border-radius: 3.125rem;
  outline: 2px solid #cc3c39;
  position: absolute;
}

.reveal {
  padding: 15rem 0 15rem 0;
}

.reveal-text {
  color: #cecbcb;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  filter: drop-shadow(0, 0, 0.66rem rgba(0, 0, 0, 0.1));
}
.title {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.grid-container {
  max-width: 100%;
  overflow: hidden;
  /* background-color: red; */
}
.grid-container > div {
  transform: rotate(-10deg);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  column-gap: 5rem;
  row-gap: 5rem;
}

.grid-container h3 {
  /* background-color: red; */
  width: 300px;
  transform: translateX(-5.5rem);
  color: #353535;
  text-align: center;
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.color {
  color: #cc3c39;
}

.grid-container h4 {
  width: 200px;
  color: #353535;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.grow h2 {
  /* background-color: red; */
  white-space: nowrap;
  color: #353535;
  font-family: Montserrat;
  /* transform: scale(3); */
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.grow {
  scroll-snap-align: start; /* Snap items to the start of the container */
  height: 100vh; /* Set a height for the items */
}

.trigger {
  height: 40vh;
  background-color: green;
}

.event-section {
  margin-top: 10rem;
  width: 100%;
}
.custom-text-shadow {
  text-shadow: -1px -1px 0 #cc3c39, /* Top left */ 1px -1px 0 #cc3c39,
  /* Top right */ -1px 1px 0 #cc3c39, /* Bottom left */ 1px 1px 0 #cc3c39; /* Bottom right */
}

.event-section h2 {
  width: 100%;
  font-family: Mutant Academy BB;
  font-size: 1cap;
  font-style: normal;
  font-weight: 900;
  line-height: 153.9%; /* 9.61875rem */
  letter-spacing: 3.125rem;
  white-space: nowrap;
  display: grid;
  /* align-items: center; */
  place-items: center;
  /* opacity: 0.5; */
  color: #f8f7f7; /* Set the text color */
  text-shadow: -1px -1px 0 #cc3c39, /* Top left */ 1px -1px 0 #cc3c39,
    /* Top right */ -1px 1px 0 #cc3c39, /* Bottom left */ 1px 1px 0 #cc3c39; /* Bottom right */
}
/* .event-body {
  background: #f5f4f4;
  transform: translateY(-4.5rem);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  place-items: center;
} */

.card {
  background-color: white;
  border-radius: 2rem;
  transition: box-shadow 0.3s ease;
  padding-bottom: 0.2rem;
  width: 300px;
}

.card-header img {
  width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.card-body {
  padding: 1rem;
}
.card-body h3 {
  color: #000;
  font-family: Montserrat;
  font-size: 1.0865rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card-body p {
  color: #000;
  font-family: Montserrat;
  font-size: 0.81488rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.24944rem; /* 153.333% */
  padding: 0.5rem 0;
  letter-spacing: 0.02719rem;
}

.category {
  color: #000;
  font-family: Montserrat;
  font-size: 0.81488rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.24944rem; /* 153.333% */
  letter-spacing: 0.02719rem;
}

.event-body .btn {
  background-color: white;
  border: 2px solid black;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.90425rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 1rem;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.box {
  height: 100vh;
}
.box-container {
  gap: 4rem;
  padding: 10rem 6rem;
}
.box .tag {
  color: #353535;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box h2 {
  color: #353535;
  font-family: Montserrat;

  font-style: normal;
  font-weight: 900;
  line-height: normal;
  white-space: nowrap;
}

.box h2 span {
  color: #cc3c39;
  font-family: Montserrat;

  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.box p {
  color: #353535;
  font-family: Montserrat;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.40625rem */
  width: 85%;
}
.button-container {
  width: 100%;
  display: flex;
  padding: 2rem 0;
  justify-content: center;
}

.btn-parent {
  padding: 2rem;
  display: flex;
  gap: 1rem;
}

.btn-parent > div:nth-child(2) {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.container > .flex {
  background-color: rebeccapurple;
}
.right {
  display: grid;
  place-items: center;
}
.right img {
  /* width: 400px; */
}

.box h3 {
  color: #353535;
  font-family: Montserrat;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.parallax-container {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-image: url("./assets/home_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.parallax-container > h2 {
  color: #fff;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  position: absolute;
  top: 50%;
  right: 10%;
}

.footer {
  height: 100vh;
  background: #600503;
  color: white;
  overflow: hidden;
  position: relative;
}



.overlay {
  color: #ff0500;
  font-family: Mutant Academy BB;
  font-size: 5.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3rem;
  position: absolute;
  opacity: 0.1;
  line-height: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-45%);
}

.footer-title {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.footer-links {
  line-height: 1.3;
}

.footer-links a {
  color: white;
  line-height: 1.3;
}
/* .overlay::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1)
  );
} */
